**/.github
**/.openapi-generator
**/examples

sdks/csharp/api
sdks/csharp/global.json

sdks/java/api
sdks/java/gradle

sdks/ruby/spec

sdks/typescript-node/dist
sdks/typescript-node/package-lock.json
