{%- macro parse_security_macro(operation, indent_count) -%}
    {{- caller(parse_security(operation, indent_count)) }}
{%- endmacro -%}

{%- macro parse_objects_macro(property_container) -%}
    {{- caller(parse_objects(property_container)) }}
{%- endmacro -%}

{%- macro parse_object_properties_macro(property_container, obj, indent_count) -%}
    {{- caller(parse_object_properties(property_container, obj, indent_count)) }}
{%- endmacro -%}

{%- macro parse_object_list_properties_macro(obj, indent_count) -%}
    {{- caller(parse_object_list_properties(obj, indent_count)) }}
{%- endmacro -%}

{%- macro parse_api_call_properties_macro(property_container, indent_count, required_flag, include_body) -%}
    {{- caller(parse_api_call_properties(property_container, indent_count, required_flag, include_body)) }}
{%- endmacro -%}
