{%- macro print_scalar(printable) -%}
{{ printable.value }}
{%- endmacro -%}

{%- macro print_scalar_array(printable) -%}
    {% if printable.value == None %}null{% else %}
List.of {% if not printable.value %}(){% else %}
(
        {% for i in printable.value %}
    {{ i }}{% if not loop.last %},{% endif %}

        {% endfor %}
)
    {%- endif %}{%- endif %}
{%- endmacro -%}

{%- macro print_file(printable) -%}
    {% if printable.value == None %}null{% else %}
new File("{{ printable.value }}")
    {%- endif %}
{%- endmacro -%}

{%- macro print_file_array(printable) -%}
    {% if printable.value == None %}null{% else %}
List.of {% if not printable.value %}(){% else %}
(
    {% for i in printable.value %}
    new File("{{ i }}"){% if not loop.last %},{% endif %}

    {% endfor %}
)
    {%- endif %}{%- endif %}
{%- endmacro -%}

{%- macro print_free_form(printable) -%}
    {% if printable.value == None %}null{% else %}
Map.of {% if not printable.value %}(){% else %}
(
        {% for k, v in printable.value.items() %}
    "{{ k }}", {{ v }}{% if not loop.last %},{% endif %}

        {% endfor %}
)
    {%- endif %}{%- endif %}
{%- endmacro -%}

{%- macro print_free_form_array(printable) -%}
    {% if printable.value == None %}null{% else %}
List.of {% if not printable.value %}(){% else %}
(
        {% for obj in printable.value %}
    Map.of {% if not obj.value %}(){% else %}
    (
            {% for k, v in obj.items() %}
        "{{ k }}": {{ v }},
            {% endfor %}
    ){% if not loop.last %},{% endif %}{% endif %}

        {% endfor %}
)
    {%- endif %}{%- endif %}
{%- endmacro -%}

{%- macro print_object(printable) -%}
{{ printable.value|camel_case }}
{%- endmacro -%}

{%- macro print_object_array(printable) -%}
    {% if printable.value == None %}null{% else %}
new ArrayList<{{ printable.target_type }}>(List.of {% if not printable.value %}()){% else %}
(
        {% for i in printable.value %}
    {{ i|camel_case }}{% if not loop.last %},{% endif %}

        {% endfor %}
))
    {%- endif %}{%- endif %}
{%- endmacro -%}

{%- import "_macros.jinja2" as m with context -%}

package {{ config.oseg_package }};

import {{ config.invoker_package }}.ApiException;
import {{ config.invoker_package }}.Configuration;
import {{ config.api_package }}.*;
import {{ config.invoker_package }}.auth.*;
import {{ config.model_package }}.*;

import java.io.File;
import java.time.LocalDate;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.List;
import java.util.Map;

public class {{ operation.operation_id|pascal_case }}{{ example_name|pascal_case }}
{
    public static void main(String[] args)
    {
        var config = Configuration.getDefaultApiClient();

{% for obj_name, obj in property_container.flattened_objects().items() %}
    {% set parent_name = obj_name if obj_name != property_container.body.type else "" %}
    {% if not obj.is_array %}
        {% call(properties) m.parse_object_properties_macro(property_container, obj, 8) %}
        var {{ obj_name|print_variable }} = new {{ obj.type|split_uc|pascal_case }}();
            {% for name, value in properties.items() %}
        {{ obj_name|print_variable }}.{{ name|print_variable }}({{ value }});
            {% endfor %}
        {% endcall %}
    {% else %}
        var {{ obj_name|print_variable }} = {{ "" }}
        {%- call(value) m.parse_object_list_properties_macro(obj, 8) %}
            {{- value }};
        {% endcall %}
    {% endif %}

{% endfor %}
        try
        {
            {{ "" -}}
            {% if operation.response and operation.response.body  %}var response = {% endif -%}
            new {{ operation.api_name|split_uc|pascal_case }}Api(config).{{ operation.operation_id|camel_case }}({%- if not property_container.has_data %});
{% else %}

{% call(properties) m.parse_api_call_properties_macro(property_container, 16) %}
    {% for name, value in properties.items() %}
                {{ value }}{% if not loop.last %},{% endif %}

    {% endfor %}
{% endcall %}
            );
{% endif %}
    {% if operation.response and operation.response.body and not operation.response.is_binary %}

            System.out.println(response);
    {% elif operation.response and operation.response.is_binary %}
            response.renameTo(new File("file_response.zip"));
    {% endif %}
        } catch (ApiException e) {
            System.err.println("Exception when calling {{ operation.api_name|pascal_case }}#{{ operation.operation_id|camel_case }}");
            System.err.println("Status code: " + e.getCode());
            System.err.println("Reason: " + e.getResponseBody());
            System.err.println("Response headers: " + e.getResponseHeaders());
            e.printStackTrace();
        }
    }
}
{{ "" }}
