{%- macro print_scalar(printable) -%}
{% if printable.value == "null" %}{{ print_null() }}{% else %}
{{ printable.value }}
{%- endif %}
{%- endmacro -%}

{%- macro print_scalar_array(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
[
        {% for i in printable.value %}
  {{ i }},
        {% endfor %}
]
    {%- endif %}
{%- endmacro -%}

{%- macro print_file(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
fs.createReadStream("{{ printable.value }}")
    {%- endif %}
{%- endmacro -%}

{%- macro print_file_array(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
[
        {% for i in printable.value %}
  fs.createReadStream("{{ i }}"),
        {% endfor %}
]
    {%- endif %}
{%- endmacro -%}

{%- macro print_free_form(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
{
        {% for k, v in printable.value.items() %}
  "{{ k }}": {{ v }},
        {% endfor %}
}
    {%- endif %}
{%- endmacro -%}

{%- macro print_free_form_array(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
[
        {% for obj in printable.value %}
  {
            {% for k, v in obj.items() %}
    "{{ k }}": {{ v }},
            {% endfor %}
  },
        {% endfor %}
]
    {%- endif %}
{%- endmacro -%}

{%- macro print_object(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
{{ printable.value|print_variablename }}
    {%- endif %}
{%- endmacro -%}

{%- macro print_object_array(printable) -%}
    {% if printable.value == None %}{{ print_null() }}{% else %}
[
    {% for i in printable.value %}
  {{ i|print_variablename }},
    {% endfor %}
]
    {%- endif %}
{%- endmacro -%}

{%- macro print_security(printable) -%}
    {% set comment = "" %}
    {% if not printable.is_primary %}{% set comment = "// " %}{% endif %}

    {%- if printable.method == "api_key" %}
{{ comment }}apiCaller.setApiKey(
    {{- "" }}api.{{ (operation.api_name ~ "ApiApiKeys")|print_classname }}.{{ printable.name }},
    {{- "" }} "{{ printable.value }}");
    {%- else %}{{ comment }}apiCaller.{{ printable.method|print_methodname }} = "{{ printable.value }}";
    {%- endif %}
{%-endmacro -%}

{%- macro print_variable_name_as_comment(name, value) -%}
    {% if config.oseg_print_api_call_property %}
        {% if name|print_variablename != value %} // {{ name|print_variablename }}{% endif %}
    {% endif %}
{%-endmacro -%}

{%- import "_macros.jinja2" as m with context -%}

import * as fs from 'fs';
import api from "{{ config.npm_name }}"
import models from "{{ config.npm_name }}"

const apiCaller = new api.{{ (operation.api_name ~ "Api")|print_classname }}();
{% if operation.security.is_optional %}
// Authentication is optional for this API endpoint
{% endif %}
{% call(security_schemes) m.parse_security_macro(operation, 0) %}
    {% for _, security in security_schemes.items() %}
{{ security }}
    {% endfor %}
{% endcall %}

{% call(objects) m.parse_objects_macro(property_container) %}
    {% for obj_name, obj in objects.items() %}
        {% if not obj.is_array %}
const {{ obj_name|print_variablename }} = new models.{{ obj.type|print_classname }}();
        {% call(properties) m.parse_object_properties_macro(property_container, obj, 0) %}
            {% for name, value in properties.items() %}
{{ obj_name|print_variablename }}.{{ name|print_propname }} = {{ value }};
            {% endfor %}
        {% endcall %}
        {% else %}
const {{ obj_name|print_variablename }} = {{ "" }}
            {%- call(value) m.parse_object_list_properties_macro(obj, 0) %}
  {{- value }};
            {% endcall %}
        {% endif %}

    {% endfor %}
{% endcall %}
{% call(properties) m.parse_api_call_properties_macro(property_container, 2) %}
apiCaller.{{ operation.operation_id|print_methodname }}({% if not properties %})
{%- else %}

    {% for name, value in properties.items() %}
  {{ value }},{{ print_variable_name_as_comment(name, value) }}
    {% endfor %}
){% endif %}{% endcall %}{%- if operation.response and operation.response.body  %}.then(response => {
{% if not operation.response.is_binary %}
  console.log(response.body);
{% elif operation.response.is_binary %}
  fs.createWriteStream('./file_response').write(response.body);
{% endif -%}
}){% endif %}.catch(error => {
  console.log("Exception when calling {{ operation.api_name|print_classname }}#{{ operation.operation_id|print_methodname }}:");
  console.log(error.body);
});
{{ "" }}
